body {
  background: #fff; 
  font: 20px Hoefler Text, "Times New Roman", Times, serif;
  color: #333;
        line-height: 30px;
  }
  
h1 {font-family: Helvetica, sans-serif; font-size: 1.5em; color:#333; line-height:26px; font-weight:normal; padding: 5px 0px 10px 0px;}
h1 a {font-weight:bold;}

p {line-height: 30px; margin:30px auto; text-indent: 0px;}

a {text-decoration: none;}
a:link {color: #333; text-decoration: none;}
a:visited {color: #333; text-decoration: none;}
a:hover {color: #999; text-decoration: none;}

input[type="text"] {width: 20em;}

#content {min-width: 20em; max-width: 30em; overflow: hidden;
  margin-top:60px; margin-left:64px; margin-right:14px; margin-bottom:0px;}