- if @posts.empty?
  %h1
    There are no posts
- else
  %h1
    = @posts.first.title
  %p
    = markdown @posts.first.content

  %h1
    All posts

  - @posts.each do |post|
    = post.created_at.strftime("%b %e, %Y") + ' - '
    = link_to post.slug, post.title
    %br