%h1
  New post

%form{:action => '/posts/create', :method => 'post'}
  %div
    %label
      Title
    %br
    %input{:type => 'text', :name => 'title'}
  %div
    %label
      Slug
    %br
    %input{:type => 'text', :name => 'slug', :size => 30}
  %div
    %label
      Content
    %br
    %textarea{:name => 'content', :cols => 40, :rows => 20}
  %input{:type => 'submit', :value => 'Save'}